@model object

<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <strong>Incidentes</strong>
        </h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="row" style="margin-bottom:0.5em">
                <div class="col-md-8">
                    <select id="slcProyectos_EstInc" class="form-control"></select>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-default float-right"
                            onclick="recargar_EstInc()">
                        <i class="fas fa-search"></i>
                        Buscar
                    </button>
                </div>
            </div>
            <div class="row" style="margin-bottom:0.5em">
                <div class="col-md-4">
                    <input id="inpFecDesde_EstInc"
                           type="date"
                           class="form-control" />
                </div>
                <div class="col-md-4">
                    <input id="inpFecHasta_EstInc"
                           type="date"
                           class="form-control" />
                </div>
                <div class="col-md-4">
                    <button class="btn btn-default float-right"
                            onclick="verDetalle_EstInc()">
                        <i class="fas fa-eye"></i>
                        Ver Detalle
                    </button>
                </div>
            </div>
            <div class="row">
                <div id="divConsolidado_EstInc" class="col-md-12"></div>
            </div>
        </div>
    </div>
</div>

<script>

        var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
        var oConsolidado = data.oEstInc.oConsolidado;
        var lDetalles = data.oEstInc.lDetalles;
        hdrTituloModal.innerHTML = data.oEstInc.titulo;
        cargarSelect("slcProyectos_EstInc", data.lProyectos, 'id', 'nombre');
        inpFecDesde_EstInc.value = data.fecDesde;
        inpFecHasta_EstInc.value = data.fecHasta;
        cargar_Consolidado_EstInc();

        function cargar_Consolidado_EstInc() {
            let table = "<table class='table table-hover table-striped'><tbody>";
            table += "<tr>";
            table += "<td colspan='2'>Dias promedio de Cierre</td>";
            table += "<td>" + getNumeroFormateado(oConsolidado.cantDiasPromedioCierre) + "</td>";
            table += "</tr>";
            table += "<tr>";
            table += "<td colspan='2'>Mayor cantidad de días para Cierre</td>";
            table += "<td>" + oConsolidado.cantDiasCierreMaxima + "</td>";
            table += "</tr>";
            table += "<tr>";
            table += "<td rowspan='4'>Días Promedio de demora para cada Estado</td>";
            table += "<td>@Gestion.EF.ValoresUtiles.Estado_IncHist_Abierto</td>";
            table += "<td>" + getNumeroFormateado(oConsolidado.cantDiasPromedioAbierto) + "</td>";
            table += "</tr>";
            table += "<tr>";
            table += "<td>@Gestion.EF.ValoresUtiles.Estado_IncHist_Enviado</td>";
            table += "<td>" + getNumeroFormateado(oConsolidado.cantDiasPromedioEnviado) + "</td>";
            table += "</tr>";
            table += "<tr>";
            table += "<td>@Gestion.EF.ValoresUtiles.Estado_IncHist_Tratamiento</td>";
            table += "<td>" + getNumeroFormateado(oConsolidado.cantDiasPromedioTratamiento) + "</td>";
            table += "</tr>";
            table += "<tr>";
            table += "<td>@Gestion.EF.ValoresUtiles.Estado_IncHist_Validacion</td>";
            table += "<td>" + getNumeroFormateado(oConsolidado.cantDiasPromedioValidacion) + "</td>";
            table += "</tr>";
            table += "</tbody><table>";
            divConsolidado_EstInc.innerHTML = table;
        }

        function verDetalle_EstInc() {
            console.log(lDetalles);
            $("#divDetalle").html("<div id='divGrilla_EstInc'></div>");
            var columnas = [
                { field: "Id", title: "ID" },
                {
                    title: "@Gestion.EF.ValoresUtiles.Estado_IncHist_Abierto",
                    columns: [
                        { field: "FecInicioAbierto", title: "Entró" },
                        { field: "FecFinAbierto", title: "Salió" },
                        { field: "CantDiasAbierto", title: "Cant. Días" }
                    ]
                },
                {
                    title: "@Gestion.EF.ValoresUtiles.Estado_IncHist_Enviado",
                    columns: [
                        { field: "FecInicioEnviado", title: "Entró" },
                        { field: "FecFinEnviado", title: "Salió" },
                        { field: "CantDiasEnviado", title: "Cant. Días" }
                    ]
                },
                {
                    title: "@Gestion.EF.ValoresUtiles.Estado_IncHist_Tratamiento",
                    columns: [
                        { field: "FecInicioTratamiento", title: "Entró" },
                        { field: "FecFinTratamiento", title: "Salió" },
                        { field: "CantDiasTratamiento", title: "Cant. Días" }
                    ]
                },
                {
                    title: "@Gestion.EF.ValoresUtiles.Estado_IncHist_Validacion",
                    columns: [
                        { field: "FecInicioValidacion", title: "Entró" },
                        { field: "FecFinValidacion", title: "Salió" },
                        { field: "CantDiasValidacion", title: "Cant. Días" }
                    ]
                },
                { field: "FecCierre", title: "Cerró" },
                { field: "CantDiasTotal", title: "Cant. Días Total" },
            ];
            $("#divGrilla_EstInc").kendoGrid({
                dataSource: {
                    data: lDetalles
                },
                columns: columnas,
                dataBound: function () {
                }
            });
            $("#divMdlDetalle").modal("toggle");
        }

        function recargar_EstInc() {
            const oFiltro = {};
            oFiltro.proyectoId = slcProyectos_EstInc.value;
            oFiltro.fecDesde = inpFecDesde_EstInc.value;
            oFiltro.fecHasta = inpFecHasta_EstInc.value;
            $.post("/Estadisticas/RecargarEstIncidentes", oFiltro)
                .done(
                    function (res) {
                        if (res.isError) {
                            toastr.error(res.data, { timeOut: 2000 });
                        } else {
                            hdrTituloModal.innerHTML = res.oEstInc.titulo;
                            oConsolidado = res.oEstInc.oConsolidado;
                            lDetalles = res.oEstInc.lDetalles;
                            cargar_Consolidado_EstInc();
                        }
                    }
                );
        }

</script>
