@model Gestion.EF.MenuEdit

<div class="row">
    <div class="col-md-12">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Menu.Id" />


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Menu.Nombre" class="control-label"></label>
                    <input asp-for="Menu.Nombre" class="form-control" />
                    <span asp-validation-for="Menu.Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Menu.Descripcion" class="control-label"></label>
                    <input asp-for="Menu.Descripcion" class="form-control" />
                    <span asp-validation-for="Menu.Descripcion" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">

                <div class="form-group">

                    @Html.DropDownList("ddlMenuP", Model.ddlMenu.Select(item => new SelectListItem
                    {
                        Value = item.nId.ToString(),
                        Text = item.Detalle,
                        Selected = Model.Menu.IdMenuPadre == item.nId ? true : false
                    }), new { @class = "form-control", @required = "required" })

                    
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Menu.Path" class="control-label"></label>
                    <input asp-for="Menu.Path" class="form-control" />
                    <span asp-validation-for="Menu.Path" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Menu.Icon" class="control-label"></label>
                    <input asp-for="Menu.Icon" class="form-control" />
                    <span asp-validation-for="Menu.Icon" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Menu.Tipo" class="control-label"></label>
                    <input asp-for="Menu.Tipo" class="form-control" />
                    <span asp-validation-for="Menu.Tipo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Menu.Orden" class="control-label"></label>
                    <input asp-for="Menu.Orden" class="form-control" />
                    <span asp-validation-for="Menu.Orden" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group " style="margin-top:40px; margin-left:20px;">
                    <div class="icheck-primary d-inline">
                        <input type="checkbox" id="Menu_Activo" @(Model.Menu.Activo ? "checked=\"checked\"" : "")>
                        <label for="Menu_Activo">@Html.DisplayNameFor(model => model.Menu.Activo)</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group" style="margin-top:40px; margin-left:20px;">
                    <div class="icheck-primary d-inline">
                        <input type="checkbox" id="Menu_Borrado" @(Model.Menu.Borrado ? "checked=\"checked\"" : "")>
                        <label for="Menu_Borrado">@Html.DisplayNameFor(model => model.Menu.Borrado)</label>
                    </div>                    
                </div>
            </div>
        </div>


        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="GrabarMenu()"> Grabar </button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
        </div>

    </div>
</div>


<script>

    function GrabarMenu() {

        var valid = validaDatos('MenuModal');
        if (!valid.isError) {

            var activo = false;
            if ($('#Menu_Activo').prop('checked')) {
                activo = true;
            }

            var borrado = false;
            if ($('#Menu_Borrado').prop('checked')) {
                borrado = true;
            }

            var model = {
                "Id": $('#Menu_Id').val(),
                "IdMenuPadre": $('#ddlMenuP').val(),
                "Nombre": $('#Menu_Nombre').val(),
                "Descripcion": $('#Menu_Descripcion').val(),
                "Path": $('#Menu_Path').val(),
                "Icon": $('#Menu_Icon').val(),
                "Tipo": $('#Menu_Tipo').val(),
                "Orden": $('#Menu_Orden').val(),
                "Activo": activo,
                "Borrado": borrado
            }

            $.post("/Gestion/MenuGraba", model).done(function (e) {
                
                if (!e.isError) {
                    toastr.success(e.data, { timeOut: 2000 });
                    $('#MenuModal').modal('hide');

                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }
            });

        } else {
            toastr.error(valid.mensaje, { timeOut: 2000 });
        }
    }

    

</script>


