@model Gestion.EF.ItemCertificadoPDFVM
@{
    
    Layout = null;
}
<div class="contenedorEncabezado">
    <div Id="elementFech" style="">
        <p class="mb-0">Fecha de Creación: @Model._FechaCreacion</p>
    </div>
<img id="elementImage" src="https://puchetaconstrucciones.com.ar/wp-content/uploads/2021/12/LOGO-PUCHETA-BORDE_2_Mesa-de-trabajo-1.png" alt="" width="170" height="150" />
 </div>




@*ENCABEZADO*@

<table class="tbencabezado" style="width:100%; padding-top:-2%;">
    <thead>
        <tr>
            <th class="tbth" style="text-align:center;font-size:x-large" width="2px">CERTIFICADO N° @Model._NotadePedido</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table class="table-enc">                
                    <tr>
                        <td style="font-size: x-large;">Proyecto:</td>
                        <td class="text-container-enc" style="padding-right:4px">@Model._ProyectoCertificado</td>
                        <td class="text-container-enc_separate"></td>
                        <td style="font-size: x-large; float:right">Nombre y Apellido:</td>
                        <td class="text-container-enc">@Model._NombreUsuario</td>
                    </tr>
                    <tr>
                        <td style="font-size: x-large;">Contratista:</td>
                        <td class="text-container-enc">@Model._ContratistaCertificado</td>
                    </tr>
                </table>
            </td>    
        </tr>
    </tbody>
</table>
<p style="border-block: 5px solid; width:100%; border: 1px solid black;"></p>
<br />
@*FIN ENCABEZADO*@

@* ZONA DETALLE DE ACTIVIDADES*@

<div class="d-flex justify-content-center align-items-center" style="height: 80px;text-align:center;">
    <h3 class="text-center" style="font-size:25px;">DETALLE ACTIVIDADES PLANIFICADAS</h3>
</div>

<table class="tbactividades" style="width:100%; padding-top:-2%"  border="1">
    <thead>
        <tr>
            <th class="tbth" >Item</th>
            <th class="tbth">Periodo</th>
            <th class="tbth">Ubicación</th>
            <th class="tbth">Actividad</th>
            <th class="tbth">Comentario</th>
            <th class="tbth">Partida</th>
            <th class="tbth">Cantidad Plan.</th>
            <th class="tbth">Monto Unit.</th>
            <th class="tbth">Total a Realizar</th>
            <th class="tbth">Anterior</th>
            <th class="tbth" style="background-color:#31a3e3">Avance Fisico</th>
            <th class="tbth">Acumulado</th>
            <th class="tbth">Anterior</th>
            <th class="tbth" style="background-color:#31a3e3">Importe Actual</th>
            <th class="tbth">Importe Acum</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaActividades.Count>0)
        {
    
            var contador = 1;
             double ototalRealizarPlanificado = 0;
            double ototalAnteriorMoneda = 0;
            double ototalActualMoneda = 0;
            double ototalMoneda = 0;
            double oPorcentajeAnterior = 0;
            double oPorcentajeActual = 0;

            @foreach (var item in Model.ListaActividades)
            {
                <tr>
                    <td class="td-actividades">@contador</td>
                    <td class="td-actividades">FD: @item.vis_Liquida_FDesde  FH: @item.vis_Liquida_FHasta</td>
                    <td class="td-actividades">@item.UbicacionNombre</td>
                    <td class="td-actividades">@item.ActividadNombre</td>
                    <td class="td-actividades">@item.Detalle</td>
                    <td class="td-actividades" width="1">@item.PartidaCodigo</td>
                    <td class="td-actividades">@item.Cantidad_Asignada_UniMedida</td>
                    <td class="td-actividades"width="3">$ @item.Monto_Unitario</td>
                    <td class="td-actividades">$ @item.Monto_Total</td>
                    <td class="td-actividades">@item.Act_Acum_Ant_Unid</td>
                    <td class="td-actividades" style="background-color:#31a3e3">@item.Act_Avance_Periodo_Unid</td>
                    <td class="td-actividades">@item.Act_Acum_Total_Unid</td>
                    <td class="td-actividades">$ @item.Act_Acum_Ant_Moneda</td>
                    <td class="td-actividades" style="background-color:#31a3e3">$ @item.Act_Cert_Actual_Moneda</td>
                            <td class="td-actividades">$ @item.Act_Acum_Actual_Moneda</td>
                </tr>
                contador++;
                ototalRealizarPlanificado += (double)item.Monto_Total;
                ototalAnteriorMoneda += (double)item.Act_Acum_Ant_Moneda;
                ototalActualMoneda += (double)item.Act_Cert_Actual_Moneda; 
                ototalMoneda += (double)item.Act_Acum_Actual_Moneda;
            }
            oPorcentajeAnterior = Math.Round(((ototalAnteriorMoneda / ototalRealizarPlanificado) * 100), 2);
            oPorcentajeActual = Math.Round(((ototalActualMoneda / ototalRealizarPlanificado) * 100), 2);
            <tr>
                <td colspan="8" style="text-align:right; font-size:22px">Totales:</td>
                <td class="td-actividades"><strong>$ @ototalRealizarPlanificado</strong></td>
                <td colspan="3"></td>
                <td class="td-actividades"><strong>$ @ototalAnteriorMoneda</strong></td>
                <td class="td-actividades" style="background-color:#31a3e3"><strong>$ @ototalActualMoneda</strong></td>
                <td class="td-actividades"><strong>$ @ototalMoneda</strong></td>
            </tr>
            <tr>
                <td colspan="12" style="text-align:right; font-size:22px">Totales:</td>
                <td class="td-actividades"><strong>% @oPorcentajeAnterior</strong></td>
                <td class="td-actividades" style="background-color:#31a3e3"><strong>% @oPorcentajeActual</strong></td>
                <td class="td-actividades"><strong>% @(oPorcentajeActual+ oPorcentajeAnterior)</strong></td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="15"style="text-align:center; font-size:25px">
                    No se encontraron Registros.
                </td>
                
            </tr>
        }
        </tbody>

</table>

@* FIN ACTIVIDADES*@

@*ZONA DETALLE DE ADICIONALES*@
<div class="d-flex justify-content-center align-items-center" style="height: 80px;text-align:center;">
    <h3 class="text-center" style="font-size:25px;">DETALLE ADICIONALES</h3>
</div>

<table class="tbactividades" style="width:100%; padding-top:-2%" border="1">
    <thead>
        <tr>
            <th class="tbth">Item</th>
            <th class="tbth">Ubicación</th>
            <th class="tbth">Actividad</th>
            <th class="tbth">Comentario</th>
            <th class="tbth">Partida</th>
            <th class="tbth">Cantidad Plan.</th>
            <th class="tbth">Monto Unit.</th>
            <th class="tbth">Total a Realizar</th>
            <th class="tbth">Anterior</th>
            <th class="tbth" style="background-color:#31a3e3">Avance Fisico</th>
            <th class="tbth">Acumulado</th>
            <th class="tbth">Anterior</th>
            <th class="tbth" style="background-color:#31a3e3">Importe Actual</th>
            <th class="tbth">Importe Acum</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaAdicionales.Count > 0)
        {

            var contadorAdicional = 1;
          
            @foreach (var item in Model.ListaAdicionales)
            {
                <tr>
                    <td class="td-actividades">@contadorAdicional</td>
                    <td class="td-actividades">@item.vis_cda_UbicacionNombre</td>
                    <td class="td-actividades">@item.vis_cda_ActividadNombre</td>
                    <td class="td-actividades">@item.cda_Comentario</td>
                    <td class="td-actividades" width="1">@item.vis_cda_PartidaNombre</td>
                    <td class="td-actividades">--</td>
                    <td class="td-actividades" width="3">$ @item.cda_Importe_Monto_Unitario</td>
                    <td class="td-actividades">--</td>
                    <td class="td-actividades">@item.cda_Importe_Cantidad_Asignada </td>
                    <td class="td-actividades" style="background-color:#31a3e3">0.00</td> @*Avance*@
                    <td class="td-actividades">0.00</td>
                    <td class="td-actividades">@item.cda_Moneda_Certificado_Actual</td>
                    <td class="td-actividades" style="background-color:#31a3e3">$0.00</td>
                    <td class="td-actividades">@item.cda_Moneda_Certificado_Actual</td>
                </tr>
                contadorAdicional++;

 
             }

        }
        else
        {
            <tr>
                <td colspan="15" style="text-align:center; font-size:25px">
                    No se encontraron Registros.
                </td>

            </tr>
        }
    </tbody>

</table>
@*FIN ADICIONALES*@

@*ZONA DETALLE DE LIQUIDACIONES*@
<div class="d-flex justify-content-center align-items-center" style="height: 80px;text-align:center;">
    <h3 class="text-center" style="font-size:25px;">LIQUIDACIONES</h3>
</div>
<table class="tbactividades" style="width:100%; padding-top:-2%" border="1">
    <thead>
        <tr>
            <th class="tbth" width="2px">Nota Pedido</th>
            <th class="tbth">Activ. Planif.</th>
            <th class="tbth">% Desc</th>
            <th class="tbth">$ Desc</th>
            <th class="tbth">$ Desc <br /> Anticipo</th>
            <th class="tbth"><strong>TOTAL SUJETO AJUSTE</strong></th>
            <th class="tbth">Ind. Base</th>
            <th class="tbth">Ind. Actual</th>
            <th class="tbth" width="3px">% <br /> Coef.</th>
            <th class="tbth">Actual</th>
            <th class="tbth">Activ. <br /> Adicionales</th>
            <th class="tbth"><strong>NETO  <br />A<br />FACTURAR</strong></th>
            <th class="tbth">Monto Iva</th>
            <th class="tbth"><strong>TOTAL <br />A<br /> FACTURAR</strong></th>
            <th class="tbth">Fondo Reparo</th>
            <th class="tbth"><strong>TOTAL <br />A<br /> PAGAR</strong></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Listaliquidaciones.Count > 0)
        {

            var contadorLiquidacion = 1;
            double oliqTotalSujetoAjuste = 0;
             double oliqActividadesAdicionales = 0;
              double oliqNetoFacturar = 0;
               double oliqTotalFacturar = 0;
               double oliqTotalPagar = 0;


            @foreach (var item in Model.Listaliquidaciones)
            {
                        <tr>
                            <td class="td-actividades">@item.cdl_NroNotaPedido</td>
                            <td class="td-actividades">@item.cdl_Acumulado_Actividades_Planificadas</td>
                            <td class="td-actividades">@item.cdl_Descuento_Por_Anticipo_Porcentaje</td>
                            <td class="td-actividades">@item.cdl_Descuento_Por_Anticipo_Monto</td>
                            <td class="td-actividades">@item.cdl_Descuento_Por_Adelanto</td>
                            <td class="td-actividades" style="background-color:#31a3e3">@item.cdl_Total_Sujeto_Ajuste</td> @*TOTAL SUJETO A AJUSTE*@
                            <td class="td-actividades" width="1">@item.cdl_Ajuste_Ind_Base</td> @*indice base*@
                            <td class="td-actividades">@item.cdl_Ajuste_Ind_Actual</td>
                            <td class="td-actividades" width="3">@item.cdl_Ajuste_Porc_Coeficiente</td> @*% coef*@
                            <td class="td-actividades">@item.cdl_Ajuste_Ind_Actual</td>
                            <td class="td-actividades" style="background-color:#31a3e3">@item.cdl_Actividades_Adicionales</td>
                            <td class="td-actividades" style="background-color:#31a3e3">@item.cdl_Neto_Facturar</td> @*Neto a facturar*@
                            <td class="td-actividades">@item.cdl_Iva_Monto</td>
                            <td class="td-actividades" style="background-color:#31a3e3">@item.cdl_Total_A_Facturar</td>
                            <td class="td-actividades" >@item.cdl_Fondo_Reparo_Monto</td>
                            <td class="td-actividades" style="background-color:#31a3e3">@item.cdl_Total_A_Pagar</td>
                        </tr>

                contadorLiquidacion++;
                oliqTotalSujetoAjuste += (double)item.cdl_Total_Sujeto_Ajuste;
                oliqActividadesAdicionales += (double)item.cdl_Actividades_Adicionales;
                oliqNetoFacturar += (double)item.cdl_Neto_Facturar;
                oliqTotalFacturar += (double)item.cdl_Total_A_Facturar;
                oliqTotalPagar += (double)item.cdl_Total_A_Pagar;
            }

               
               
                <tr>
                    <td colspan="5" style="text-align:right; font-size:22px">Totales:</td>
                    <td class="td-actividades" style="background-color:#31a3e3"><strong>$ @oliqTotalSujetoAjuste</strong></td>
                    <td colspan="4"></td>
                    <td class="td-actividades" style="background-color:#31a3e3"><strong>$ @oliqActividadesAdicionales</strong></td>
                    <td class="td-actividades" style="background-color:#31a3e3"><strong>$ @oliqNetoFacturar</strong></td>@*Neto a facturar*@
                    <td colspan="1"></td>
                    <td class="td-actividades" style="background-color:#31a3e3"><strong>$ @oliqTotalFacturar</strong></td>
                    <td colspan="1"></td>
                    <td class="td-actividades" style="background-color:#31a3e3"><strong>$ @oliqTotalPagar</strong></td>

                </tr>

        }
        else
        {
                <tr>
                <td colspan="17" style="text-align:center; font-size:25px">
                        No se encontraron Registros.
                    </td>

                </tr>
        }
    </tbody>

</table>

@*FIN LIQUIDACIONES*@
@*ZONA DETALLE DE Fondo Reparo*@
<div class="d-flex justify-content-center align-items-center" style="height: 80px;text-align:center;">
    <h3 class="text-center" style="font-size:25px;">PARTIDAS PRESUPUESTARIAS - AJUSTADAS</h3>
</div>

<table class="tbactividades" style="width:100%; padding-top:-2%" border="1">
    <thead>
        <tr>
            <th  class="tbth" style="width:400px">Codigo Partida</th>
            <th  class="tbth">Partida Presupuestaria Descripcion</th>
            <th class="tbth" width="5">Certificado Actual</th>
            <th class="tbth" >Fondo Reparo</th>
            <th class="tbth"><strong>TOTAL <br />A<br /> PAGAR</strong></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListaPartidaPresupuestaria.Count > 0)
        {

            double SumadorCertififcado = 0;
            double SumadorFondo = 0;
            double SumadorTotal = 0;

            @foreach (var item in Model.ListaPartidaPresupuestaria)
            {
                double RestaTotal = 0;
                RestaTotal= @item._certificadoMonto - @item._fondoReparo;
                <tr>
                    <td class="td-actividades" width="5">@item._codigoPartida</td>
                    <td class="td-actividades">@item._nombrePartida</td>
                    <td class="td-actividades" width="5">@item._certificadoMonto</td>
                    <td class="td-actividades" width="5">@item._fondoReparo</td>
                    <td class="td-actividades" style="background-color:#31a3e3 " width="5">@RestaTotal</td>
                   
                </tr>
                SumadorCertififcado = SumadorCertififcado + @item._certificadoMonto;
                SumadorFondo = SumadorFondo + @item._fondoReparo;
                SumadorTotal =  SumadorCertififcado - SumadorFondo;
            }
            <tr>
                <td colspan="2" style="text-align:right; font-size:22px">Totales:</td>
                <td class="td-actividades" ><strong>$ @SumadorCertififcado</strong></td>
                <td class="td-actividades"><strong>$ @SumadorFondo</strong></td>
                <td class="td-actividades" style="background-color:#31a3e3"><strong>$ @SumadorTotal</strong></td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="15" style="text-align:center; font-size:25px">
                    No se encontraron Registros.
                </td>

            </tr>
        }
    </tbody>

</table>
@*FIN Fondo Reparo*@


<style>

    /*Estilos Encabezado*/
    .contenedorEncabezado {
        display: flex;
        align-items: center;
       
    }

    .elementImage{

        display: inline-block;
    }
    .elementFech {
        padding-top:-2px;
        display: inline-block;
        float:right;
    }
    .text-container-enc {
        border-bottom: 2px solid black;
        width: 300px;
        text-align: center;
        padding-bottom: 10px;
        font-family:cursive;
    }

    .text-container-enc_separate {
        width: 200px;
        text-align: center;
        padding-bottom: 10px;
        font-family: cursive;
    }

    /*REGION ENCABEZADO*/
    table.tbencabezado thead tr th {
        /*Estilos para el encabezado del Certificado*/
        background-color: #3b4394;
        padding: 10px;
        font-size: 15px;
        color: white;
        text-decoration: solid;
        width: 100%;
    }
    /*FIN REGION ENCABEZADO*/

    /*REGION TABLA DETALLES*/

    table.tbactividades thead tr th {
        /*Estilos las tabla de Detalles*/
        background-color: #adadad;
        padding: 10px;
        font-size: 30px;
        color: black;
        width: 100%;
    }
    table.tbLiq thead tr th {
        /*Estilos las tabla de Detalles*/
        background-color: #adadad;
        padding: 10px;
        font-size: 30px;
        color: black;
        width: 100%;
    }

    table.tbLiq tbody td {
        /*Estilos las tabla de Detalles*/

        font-size: 20px;
        align-items:center;

    }
    .th {
        /*Estilo para los encabezados de las tablas Detalles*/
       
    }

    .td-actividades {
        /*Estilo para los body de las tablas Detalles (TODAS)*/
        text-align: center;
        font-size:21px;
    }

    /*FIN REGION TABLA DETALLES*/
    
     .tr-liquidaciones {
        /*Estilo para los encabezados de las tablas Detalles*/
         background-color: white;
    }
  
    .page-break {
        /*Estilo para el salto de Pagina*/
        page-break-after: always;
        /*USAR --> div class="page-break">/div*/
    }
</style>

<script>
    //#region Inicializacion
    const dataGlobal = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    var lstActividades = dataGlobalCertificados.data3;
   
    //#endregion

    // #adadad; 
    //#region EncabezadoPdf
 
    $('#cer_EncProyecto').val(dataGlobal.data.sProyecto);
    $('#cer_EncContratista').val(dataGlobal.data.sContratista);
    $('#cer_EncNroCertificado').val(dataGlobal.data.nroCertificado);
    $('#cer_EncFechaCreacion').val((dataGlobal.data3));
    //#endregion

    //#region Actividades 
   
        //#endregion
</script>

