@model Gestion.EF.RolesEdit

<div class="row">
    <div class="col-md-12">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Rol.Id" />

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Rol.Detalle" class="control-label"></label>
                    <input asp-for="Rol.Detalle" class="form-control" />
                    <span asp-validation-for="Rol.Detalle" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row" style="padding: 20px; background-color: aliceblue;">
            <div class="col-md-12">
                <h5><b>Listado de Acciones</b></h5>
                <hr />
            </div>
            @foreach (var accion in Model.Acciones)
            {
                <div class="col-md-4" style="margin-bottom:4px;">
                    <div class="icheck-primary d-inline">
                        <input type="checkbox" id="Acc_@accion.Id" @(accion.Activo ? "checked=\"checked\"" : "")>
                        <label for="Acc_@accion.Id">@accion.Detalle</label>
                    </div>
                </div>
            }
            <div class="col-md-12">
                <hr />
            </div>
        </div>

        <div class="row" style="padding: 20px;">

            <div class="col-md-3"></div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="icheck-primary d-inline">
                        <input type="checkbox" id="Rol_Activo" @(Model.Rol.Activo ? "checked=\"checked\"" : "")>
                        <label for="Rol_Activo">@Html.DisplayNameFor(model => model.Rol.Activo)</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="icheck-primary d-inline">
                        <input type="checkbox" id="Rol_Borrado" @(Model.Rol.Borrado ? "checked=\"checked\"" : "")>
                        <label for="Rol_Borrado">@Html.DisplayNameFor(model => model.Rol.Borrado)</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <button type="button" class="btn btn-primary" onclick="GrabarRoles()"> Grabar </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
                </div>
            </div>
        </div>


    </div>
</div>


<script>

    function GrabarRoles() {

        var valid = validaDatos('RolesModal');
        if (!valid.isError) {
            var activo = false;
            if ($('#Rol_Activo').prop('checked')) {
                activo = true;
            }

            var borrado = false;
            if ($('#Rol_Borrado').prop('checked')) {
                borrado = true;
            }

            var acciones = [];
            $("[id^=Acc_]").each(function (index) {

                if ($('#' + this.id).prop('checked')) {
                    var idA = this.id.split("_");

                    acciones.push({
                        Id: 0,
                        RolesId: $('#Rol_Id').val(),
                        AccionesID: idA[1]
                    });
                }

            });


            var model = {
                Id: $('#Rol_Id').val(),
                Detalle: $('#Rol_Detalle').val(),
                Activo: activo,
                Borrado: borrado,
                Acciones:acciones
            };


            $.post("/Gestion/RolesGraba", model).done(function (e) {
                console.log(e);
                if (!e.isError) {
                    toastr.success(e.data, { timeOut: 2000 });
                    $('#RolesModal').modal('hide');

                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }

            });

        } else {
            toastr.error(valid.mensaje, { timeOut: 2000 });
        }
    }


</script>





