@model Gestion.Web.Models.ItemIncidentesFile

<form method="POST" enctype="multipart/form-data" id="fileUploadForm">
    <div class="row">
        <div class="col-md-6">
            <input type="hidden" asp-for="inc.Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="inc.Nombre" class="control-label"></label>
                <input asp-for="inc.Nombre" class="form-control" />
                <span asp-validation-for="inc.Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            @{
                List<ItemSelectList> listItemsR = new List<ItemSelectList> {
                new ItemSelectList { Value = "Incidente/Accidente", Text = "Incidente/Accidente" },
                new ItemSelectList { Value = "Novedad", Text = "Novedad" },
                
            };
            }
            <label asp-for="inc.Rectype" class="control-label"></label>
            @Html.DropDownListFor(model =>
                model.inc.Rectype,
                new SelectList(listItemsR, "Value", "Text")
                , new { @class = "form-control" }
            )
        </div>
        @*<div class="col-md-6">
            <div class="form-group">
                <label asp-for="inc.TipoIncidenteId" class="control-label"></label>
                @Html.DropDownListFor(model =>
                    model.inc.TipoIncidenteId,
                    new SelectList(Model.IncidentesTipo, "Id", "Nombre")
                    , new { @class = "form-control" }
                )
            </div>
        </div>*@
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="inc.Descripcion" class="control-label"></label>
                <div class="col-md-12">@Html.TextAreaFor(model => model.inc.Descripcion, new { @cols = "70", @rows = "6" })</div>
                <!--<textarea asp-for="inc.Descripcion" class="form-control" rows="2" cols="20"></textarea>-->
                <span asp-validation-for="inc.Descripcion" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @{
                List<ItemSelectList> listItemsT = new List<ItemSelectList> {
                new ItemSelectList {  Value = "Sin Criticidad", Text = "Sin Criticidad" },
                new ItemSelectList { Value = "Bloqueo Parcial", Text = "Bloqueo Parcial" },
                new ItemSelectList { Value = "Bloqueante", Text = "Bloqueante" },
            };
            }
            <label asp-for="inc.Criticidad" class="control-label"></label>
            @Html.DropDownListFor(model =>
                model.inc.Criticidad,
                new SelectList(listItemsT, "Value", "Text")
                , new { @class = "form-control" }
            )
        </div>
        <div class="col-md-6">
            <label class="control-label">Area Resposable</label>
            <div id="Conten_AsignadaArea"></div>
            @*@{
            List<ItemSelectList> lstResponsable = new List<ItemSelectList> {
                    new ItemSelectList { Value = "Compras", Text = "Compras" },
                    new ItemSelectList { Value = "Planificacion", Text = "Planificacion" },
                    new ItemSelectList { Value = "RRHH", Text = "RRHH" },
                };
            }
            <label asp-for="inc.RolResponsable" class="control-label"></label>
            @Html.DropDownListFor(model =>
                model.inc.RolResponsable,
                new SelectList(lstResponsable, "Value", "Text")
                , new { @class = "form-control" }
            )*@
        </div>
    </div>
    <div class="row">
        
        <div class="col-md-2" style="padding-top:40px; padding-left:5px;">
            <div class="form-group">               
                <label>@Html.CheckBoxFor(m => m.inc.GeneraEmail) @Html.DisplayNameFor(m => m.inc.GeneraEmail)</label>
            </div>
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label asp-for="inc.ListaEmail" class="control-label"></label>
                <input asp-for="inc.ListaEmail" class="form-control" />
                <span asp-validation-for="inc.ListaEmail" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-bottom:12px;">
            <div class="custom-file">
                <input multiple asp-for="Archivos" class="form-control custom-file-input" accept="image/*, application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                <label class="custom-file-label">Seleccione Archivos...</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button type="button" class="btn btn-primary" onclick="GrabarIncidente()"> Grabar </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cerrar </button>
            </div>
        </div>
    </div>
</form>

<script>

    $('.custom-file-input').on("change", function () {
        var fileLabel = $(this).next('.custom-file-label');
        var files = $(this)[0].files;

        if (files.length > 1) {
            fileLabel.html(files.length + " Archivos seleccionados.");
        } else {
            fileLabel.html(files[0].name);
        }
    });
    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    //console.log("Datos", data);
    cargaAreas(data.inc.rolResponsable);
    function cargaAreas(idArea) {

    $.get("@Url.Action("GetAreasEmpresa", "Incidentes")",
        function (data) {

            if (!data.isError) {
                var d = '<select id="Area" class="form-control">';
                d = d + '<option value="0">Seleccione un area</option>';
                for (var i = 0; i < data.data.length; i++) {
                    d = d + '<option value="' + data.data[i].detalle + '">' + data.data[i].detalle + '</option>';
                }
                d = d + '</select>';

                $('#Conten_AsignadaArea').html(d);
                $('#Area').val(idArea);
                }
            }
        );
    }
    function GrabarIncidente() {
            var valid = validaDatos('IncidentesModal');
            if (!valid.isError) {
                var form = $('#fileUploadForm')[0];
                var model = new FormData(form);
                //model.RolResponsable = $('#Area').val();
                //console.log("Model", model);
                model.append('RolResponsable2', $('#Area').val());
                $.ajax({
                    type: "POST",
                    enctype: 'multipart/form-data',
                    url: "/ParteDiario/IncidenteGraba",
                    data: model,
                    processData: false,
                    contentType: false,
                    cache: false,
                    timeout: 600000,
                    success: function (e) {
                        if (!e.isError) {
                            toastr.success(e.data, { timeOut: 2000 });
                            $('#IncidentesModal').modal('hide');
                        } else {
                            toastr.error(e.data, { timeOut: 2000 });
                        }
                    }
                });
            } else {
                toastr.error(valid.mensaje, { timeOut: 2000 });
            }
        }

</script>

