@model Gestion.Web.Models.ItemProyectoFile

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Proyectos</label>
            <div id="ContenLPa"></div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label class="control-label">Fecha</label>
            <input id="dtpFechaInicio" type="date" name="partydate" class="form-control">
        </div>
    </div>
    <div style="margin-top:25px;" class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <div class="btn-graba inline" type="button" onclick="ValidaParteDiario()"> Validar</div>
            </div>
            <div class="col-md-4">
                <div class="btn-volver" type="button" onclick="Volver()"><i class="fas fa-arrow-left"></i> Volver</div>
            </div>
        </div>
    </div>
</div>

<div id="Graba" class="row">
    <div class="col-md-12">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab"
                   data-toggle="tab"
                   href="#nav-home"
                   role="tab"
                   aria-controls="nav-home"
                   aria-selected="true">Actividad</a>
                <a class="nav-item nav-link " id="nav-hhrr-tab"
                   data-toggle="tab"
                   href="#nav-hhrr"
                   role="tab"
                   aria-controls="nav-hhrr"
                   aria-selected="false">Asistencia del Personal</a>
                <a class="nav-item nav-link " id="nav-incidente-tab"
                   data-toggle="tab" href="#nav-incidente"
                   role="tab"
                   aria-controls="nav-incidente"
                   aria-selected="false">Novedades/Incidentes</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade  show active" id="nav-home">
                <h5 id="tituloGrilla"></h5>
                <div id="conten_ParteD_ActividadesGrilla_Filtros" class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label">Ubicación</label>
                            <div id="Conten_FiltrUbicaciones_PDABM"></div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Actividad</label>
                            <div id="Conten_FiltroActividad_PDABM"></div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Avance Ayer</label>
                            <div id="Conten_FiltroAvanceAyer_PDABM"></div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Avance Hoy</label>
                            <div id="Conten_FiltroAvanceDia_PDABM"></div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">% Acum de Obra</label>
                            <div id="Conten_FiltroAvance_PDABM"></div>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Estado</label>
                            <div id="divSlcFiltroEstados"></div>
                        </div>
                    </div>
                </div>
                <div id="conten_ParteD_ActividadesGrilla"></div>
            </div>

            <div class="tab-pane fade show " id="nav-hhrr">
                <div class="row">
                    <div class="col-md-3">
                        <label class="control-label">Contratistas</label>
                        <div id="Conten_Contratistas"></div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Asignación</label>
                            <input id="A_Asig_Propios" type="number" class="form-control">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label"> Presentes</label>
                            <input id="A_Asig_Propios_Presentes" type="number" class="form-control">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Covid Propios</label>
                            <input id="A_Covid_Propioa" type="number" class="form-control">
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Comentario</label>
                            <div class="col-md-12">@Html.TextAreaFor(model => model.Asig_Comentario, new { @cols = "45", @rows = "6" })</div>
                            <!-- <textarea id="A_Asig_Comentario" class="form-control" rows="2" cols="20"></textarea>-->
                        </div>
                    </div>
                    <div style="margin-top:30px;" class="col-md-6">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="btn-graba" type="button" onclick="GrabarParteDiarioA()"><i class="fas fa-check"></i> Grabar</div>
                            </div>
                            <div class="col-md-4">
                                <div class="btn-cancela" type="button" data-dismiss="modal" onclick="CancelarAsistencia()"><i class="far fa-times-circle"></i>Cancelar</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        Resumen de Asistencia: <b><span id="P_asistencia"></span></b> <br />
                    </div>
                </div>

                <div style="margin-top:10px;" class="row">
                    <div id="Conte_grillaAsitencia"></div>
                </div>


            </div>

            <div class="tab-pane fade show " id="nav-incidente">
                <div class="row">
                    <div class="col-md-12"><br /></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <div onclick="CheckNovedades()" class="btn-Novedad" style="background:#FCFA86;color:black"><b>Novedades</b></div>
                    </div>
                    <div class="col-md-3">
                        <div onclick="CheckIncidentes()" class="btn-Novedad" style="background:#FCB7B3;color:black"><b>Incidentes</b></div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                @* ABM NOVEDADES *@
                <div class="row">
                    <div id="Novedades" class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="conten-Novedad"><b>Cargando una Novedad</b></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Novedades</label>
                                    <div id="Conten_Incidentes"></div>
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label">Solicitado Por</label>
                                    <input id="f_SolicitadoPor" type="text" class="form-control">
                                    <input id="f_SolicitadoPorId" type="hidden" class="form-control">
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Contratista</label>
                                    <div id="Conten_Contratistas2"></div>
                                </div>
                                <div class="col-md-6">
                                    @{
                                        List<ItemSelectList> listItemsT = new List<ItemSelectList> {
                                            new ItemSelectList { Value = "Sin Criticidad", Text = "Sin Criticidad" },
                                            new ItemSelectList { Value = "Bloqueo Parcial", Text = "Bloqueo Parcial" },
                                            new ItemSelectList { Value = "Bloqueante", Text = "Bloqueante" },
                                        };
                                    }
                                    <label asp-for="Criticidad" class="control-label"></label>
                                    @Html.DropDownListFor(model =>
                                        model.Criticidad,
                                        new SelectList(listItemsT, "Value", "Text")
                                        , new { @class = "form-control" }
                                    )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Comentario</label>
                                    @Html.TextAreaFor(model => model.Comentario, new { @class = "form-control", @id = "txtaComentarioNov" })
                                    <!--<textarea id="f_Comentario" type="text" class="form-control" rows="2" cols="20"></textarea>-->
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div id="divFUAbmNovedades" class="col-md-12">
                                    <input type="file"
                                           id="inpFUAbmNovedades"
                                           onchange="SubirArchivos('n')"
                                           multiple
                                           class="form-control"
                                           accept="image/*, application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                </div>
                            </div>
                            <div id="divGrillaAAAbmNovedades" clss="row"></div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-graba" onclick="Grabar_Novedad()">
                                        <i class="fas fa-check"></i>
                                        Grabar
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-cerrar" onclick="LimpiarABM_Novedades()" data-dismiss="modal">
                                        <i class="far fa-times-circle"></i>
                                        Cancelar
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="divGrillaNovedades"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input id="mPatronId" type="hidden" />

                @* ABM INCIDENTES *@
                <div class="row">
                    <div id="Incidentes" style="display:none;">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-8">
                                    <div class="conten-Incidentes"><b>Cargando un Incidente</b></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label">Incidentes</label>
                                    <div id="Conten_Incidentes2"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Solicitado Por</label>
                                        <input id="I_SolicitadoPor" type="text" class="form-control">
                                        <input id="I_SolicitadoPorId" type="hidden" class="form-control">
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Contratista</label>
                                        <div id="Conten_Contratistas3"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Fecha Cierre</label>
                                        <input id="dtpFechaCierre" type="date" name="partydate" class="form-control">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Asignación de Área</label>
                                        <div id="Conten_AsignacionArea"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label">Comentario</label>
                                    @Html.TextAreaFor(model => model.ComentarioHI, new { @class = "form-control", @id = "txtaComentarioInc" })
                                    <!--<textarea id="I_Comentario" type="text" class="form-control" rows="2" cols="20"></textarea>-->
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div id="divFUAbmIncidentes" class="col-md-12">
                                    <input type="file"
                                           id="inpFUAbmIncidentes"
                                           onchange="SubirArchivos('i')"
                                           multiple
                                           class="form-control"
                                           accept="image/*, application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
                                </div>
                            </div>
                            <div id="divGrillaAAAbmIncidentes" clss="row"></div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-graba"
                                         onclick="Grabar_Incidente()">
                                        <i class="fas fa-check"></i>
                                        Grabar
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="btn-cerrar"
                                         onclick="LimpiarABM_Incidentes()">
                                        <i class="far fa-times-circle"></i>
                                        Cancelar
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div id="Conte_grillaIncidenteHistorial"></div>
                            </div>
                        </div>
                        <input id="mPatronId" type="hidden" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg"
     id="ParteDiario_ContratistasModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitulo" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg"
     id="ParteDiario_Finalizar_ActividadModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="ModalTitulo_Finaliza" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:10px;" class="modal-body-Finaliza">

            </div>
        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg"
     id="divMdlArchivos"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header cabecera">
                <h5 id="tituloMdlArchivos" class="modal-title"></h5>
                <button type="button" style="color:#FFFFFF" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="divBodyMdlArchivos">

            </div>

        </div>
    </div>
</div>

<div class="modal fade  bd-example-modal-lg"
     id="ParteDiarioArchivosContratistasModal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="myLargeModalLabel"
     aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header cabecera">
                <h5 id="ModalTituloPAC" class="modal-title"></h5>
                <button type="button" style="color:#FFFFFF" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-bodyPAC">

            </div>

        </div>
    </div>
</div>
<input id="NParteDiario" type="hidden" />

<script>

    //#region Inicialización

    var dataPA = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    var lstActividadesParteDiario = [];

    //var data2 = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    $('#I_SolicitadoPor').val(dataPA.mUsuarioActual);
    $('#I_SolicitadoPorId').val(dataPA.mIdUsuarioActual);

    cargaPartesDiario();

    $('.custom-file-input').on("change", function () {
        var fileLabel = $(this).next('.custom-file-label');
        var files = $(this)[0].files;

        if (files.length > 1) {
            fileLabel.html(files.length + " Archivos seleccionados.");
        } else {
            fileLabel.html(files[0].name);
        }
    });

    //INICIO - ARMADO DE FECHA EN LOS TEXT DEL FILTRO
    var d = new Date();

    var month = d.getMonth() + 1;
    var day = d.getDate();
    var year = d.getFullYear();
    var day2 = d.getDate() + 5;

    if (month < 10)
        month = '0' + month;
    if (day < 10)
        day = '0' + day;
    if (day2 < 10)
        day2 = '0' + day2;
    var mFechaHoy = year + "-" + month + "-" + day;
    var mFechaFuturo = year + "-" + month + "-" + day2;

    var dateControl = document.querySelector('input[id="dtpFechaInicio"]');
    dateControl.value = mFechaHoy;

    var dateControl = document.querySelector('input[id="dtpFechaCierre"]');
    dateControl.value = mFechaFuturo;

    //FIN - ARMADO DE FECHA EN LOS TEXT DEL FILTRO

    cargaIncidente();
    cargaContratistas();
    cargaUbicaciones();
    cargaAreasParaAsignar();

    if ($('#id_Proyecto').val() > 0) {
        $('#Graba').show();
    } else {
        $('#Graba').hide();
    }

    if ($('#id_Proyecto').val() > 0) {
        ValidaParteDiario()

        }

    //#endregion

    //#region FUNCIONES

    function cargaPartesDiario() {

        var d = '<select id="ProyectoId" class="form-control">';
        d = d + '<option value="0">Seleccione un Proyecto</option>';
        for (var i = 0; i < dataPA.proyecto.length; i++) {
            d = d + '<option value="' + dataPA.proyecto[i].id + '">' + dataPA.proyecto[i].nombre + '</option>';
        }
        d = d + '</select>';

        $('#ContenLPa').html(d);
    }

    function ValidaParteDiario() {
        var GetEdit = false;
        var model = {}
        if ($('#id_Proyecto').val() == 0) {
            GetEdit = true;
             model = {
                Id: 0,
                ProyectoId: $('#ProyectoId').val(),
                Fecha_Creacion: $('#dtpFechaInicio').val(),
                Editar: GetEdit,
            }
            $('#NParteDiario').val($('#ProyectoId').val());
        } else {
              model = {
            Id: 0,
            ProyectoId: $('#id_Proyecto').val(),
            Fecha_Creacion: '',
             Editar: GetEdit,
            }
             $('#NParteDiario').val($('#id_Proyecto').val());
        }
        $.post("/ParteDiario/ValidaParteDiario", model).done(function (e) {
            if (!e.isError) {
                toastr.success("Proceso OK.", { timeOut: 2000 });
                //grilla(e.data.itemParteDiarioRetorno);
                cargaActividades_PDABM(e.data.lstDistinctActividades);
                cargaUbicaciones_PDABM(e.data.lstDistinctUbicaciones);
                cargaAvance_PDABM();
                cargaAvanceDia_PDABM();
                cargaAvanceAyer_PDABM();
                cargarSlcFiltroEstados_PDABM(e.data.lstEstados);
                lstActividadesParteDiario = e.data.itemParteDiarioRetorno;
                $('#mPatronId').val(e.data.parteDiario.id);
                $('#Graba').show();
                GetDatosGrillaAsistencia();
                GetDatosGrillaIncidentes();
                GetDatosGrillaIncidentesHistorial();
                cargaContratistas();
                //Busco los valores de los filtros
                var mEstado = JSON.parse(localStorage.getItem('ValoresFiltroParteDiario'));
                if (mEstado != null) {
                    $('#ddlActividades_PDABM').val(mEstado.Actividad);
                    $('#ddlUbicaciones_PDABM').val(mEstado.Ubicacion);
                    $('#ddlAvance_PDABM').val(mEstado.Avance);
                    $('#ddlAvanceDia_PDABM').val(mEstado.AvanceDia);
                    $('#ddlAvanceAyer_PDABM').val(mEstado.AvanceAyer);
                }
                Filtrar_PDABM();

            } else {
                toastr.error(e.data, { timeOut: 2000 });
            }
        });
    }

    function GetDatosGrillaIncidentes() {

        var id = $('#mPatronId').val();
        $.get("/ParteDiario/ParteDiarioIncidentesGet/" + id).done(function (e) {

                if (!e.isError) {
                    grillaIncidentes(e.data);
                    $('#f_SolicitadoPor').val(e.data1);
                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }
            });
    }

    function GetDatosGrillaIncidentesHistorial() {

        var id = $('#mPatronId').val();
        $.get("/ParteDiario/ParteDiarioIncidentesHistorialGet/" + id).done(function (e) {

            if (!e.isError) {
                grillaIncidentesHistorial(e.data);
                $('#f_SolicitadoPor').val(e.data1);
            } else {
                toastr.error(e.data, { timeOut: 2000 });
            }
        });
    }

    function GetDatosGrillaAsistencia() {

        var id = $('#mPatronId').val();
        $.get("/ParteDiario/ParteDiarioAsistenciaGet/" + id).done(function (e) {

            if (!e.isError) {
                grillaAsitencia(e.data);
                $('#P_asistencia').html(e.data1);

                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }

            });
    }

    function GrabarParteDiarioA() {
        var valid = validaDatos();
        if (!valid.isError) {
            if ($('#Contratista').val() != '0') {
                var model = {
                    ParteDiarioId: $('#mPatronId').val(),
                    Id: $('#A_Id').val(),
                    Asig_Propios: $('#A_Asig_Propios').val(),
                    Asig_Propios_Presentes: $('#A_Asig_Propios_Presentes').val(),
                    Asig_Contratista: $('#A_Asig_Contratista').val(),
                    Asig_Contratista_Presentes: $('#A_Asig_Contratista_Presentes').val(),
                    Asig_Comentario: $('#Asig_Comentario').val(),
                    Covid_Propioa: $('#A_Covid_Propioa').val(),
                    Covid_Contratista: $('#A_Covid_Contratista').val(),
                    Covid_Comentario: $('#A_Covid_Comentario').val(),
                    ContratistasId: $('#Contratista').val(),
                };
                $.post("/ParteDiario/ParteDiarioAsistenciaGraba", model).done(function (e) {
                    if (!e.isError) {
                        toastr.success(e.data, { timeOut: 2000 });
                        grillaAsitencia(e.data1);
                        GetDatosGrillaAsistencia();
                        CancelarAsistencia();
                    } else {
                        toastr.error(e.data, { timeOut: 2000 });
                    }
                });
            } else {
                toastr.error('Seleccione un Contratista', { timeOut: 2000 });
            }

        } else {
            toastr.error(valid.mensaje, { timeOut: 2000 });
        }
    }

    function toBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
    }

    var lArchivosAdjuntos = [];
    function SubirArchivos(clave) {
        var formData = new FormData();
        var idInpFU = clave == 'n' ? 'inpFUAbmNovedades' : 'inpFUAbmIncidentes';
        var idDivFU = clave == 'n' ? 'divFUAbmNovedades' : 'divFUAbmIncidentes';
        var idDivGrillaAAAbm = clave == 'n' ? 'divGrillaAAAbmNovedades' : 'divGrillaAAAbmIncidentes';

        var inpFU = document.getElementById(idInpFU);
        if (inpFU.files.length) {
            for (var i = 0; i < inpFU.files.length; i++) {
                formData.append('file_' + i, inpFU.files[i]);
            }
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/ArchivoAdjunto/SubirArchivos",
                data: formData,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function (res) {
                    if (res.error) {
                        toastr.error(res.message, { timeOut: 2000 });
                    } else {
                        res.lArchivosAdjuntos.forEach(aa => {
                            lArchivosAdjuntos.push(aa);
                        });
                        CargarGrillaArchivosAdjuntos(idDivGrillaAAAbm);
                        var divFU = document.getElementById(idDivFU);
                        divFU.innerHTML =
                            `<input type="file"
                                id="`+ idInpFU + `"
                                onchange="SubirArchivos('`+ clave + `')"
                                multiple class="form-control"
                                accept="image/*, application/pdf,.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>`;
                    }
                }
            });
        }
    }

    function CargarGrillaArchivosAdjuntos(idDivGrilla) {
        var divArchivosAdjuntos = document.getElementById(idDivGrilla);
        var table = "<table class='table'><tbody>";
        lArchivosAdjuntos.forEach(aa => {
            var tr = "<tr>";
            tr += "<td><a href='/" + aa.url + aa.nombre + "' target='_blank'>" + aa.nombreOriginal + "</a></td>";
            tr += "<td><button type='button' class='btn btn-secondary btn-xs' " +
                "onclick=\"EliminarArchivoAdjunto('" + idDivGrilla + "', " + aa.archivos_AdjuntosId + ")\">" +
                "<i class='fas fa-trash'></i>"+
                "</button></td>";
            tr += "</tr>";
            table += tr;
        });
        table += "</tbody></table>";
        divArchivosAdjuntos.innerHTML = table;
    }

    function EliminarArchivoAdjunto(idDivGrilla, id) {
        lArchivosAdjuntos = lArchivosAdjuntos.filter(function (aa) { return aa.archivos_AdjuntosId != id; });
        CargarGrillaArchivosAdjuntos(idDivGrilla);
    }

    function Grabar_Novedad() {
        var valid = validaDatos();
        if (!valid.isError) {
            if ($('#Incidente').val() != '0') {
                var lIdsArchivosAdjuntos = [];
                lArchivosAdjuntos.forEach(aa => lIdsArchivosAdjuntos.push(aa.archivos_AdjuntosId));
                var oNovedad = {
                    ParteDiarioId: $('#mPatronId').val(),
                    IncidenteId: $('#Incidente').val(),
                    Comentario: $('#txtaComentarioNov').val(),
                    SolicitadoPor: $('#f_SolicitadoPor').val(),
                    ContratistaId: $('#Contratista2').val(),
                    Criticidad: $('#Criticidad').val(),
                    lIdsArchivosAdjuntos: lIdsArchivosAdjuntos
                };
                $.post("/ParteDiario/ParteDiarioIncidentesGraba/", oNovedad).done(
                    function (e) {
                        if (e.isError) {
                            toastr.error(e.data, { timeOut: 2000 });
                        } else {
                            toastr.success(e.data, { timeOut: 2000 });
                            grillaIncidentes(e.data1)
                            LimpiarABM_Novedades();
                        }
                    }
                );
            } else {
                toastr.error('Seleccione un Incidente', { timeOut: 2000 });
            }
        } else {
            toastr.error(valid.mensaje, { timeOut: 2000 });
        }
    }

    function Grabar_Incidente() {
        var valid = validaDatos();
        if (!valid.isError) {
            if ($('#Incidente2').val() != '0') {
                var lIdsArchivosAdjuntos = [];
                lArchivosAdjuntos.forEach(aa => lIdsArchivosAdjuntos.push(aa.archivos_AdjuntosId));
                var oIncidente = {
                    ParteDiarioId: $('#mPatronId').val(),
                    ProyectoId: $('#ProyectoId').val(),
                    IncidenteId: $('#Incidente2').val(),
                    ComentarioHI: $('#txtaComentarioInc').val(),
                    SolicitadoPor: $('#I_SolicitadoPor').val(),
                    ContratistaId: $('#Contratista3').val(),
                    FechaCierre: $('#dtpFechaCierre').val(),
                    AreaId: $('#AreaParaAsignar').val(),
                    lIdsArchivosAdjuntos: lIdsArchivosAdjuntos
                };
                $.post("/ParteDiario/ParteDiarioGrabaIncidentes/", oIncidente).done(
                    function (e) {
                        if (e.isError) {
                            toastr.error(e.data, { timeOut: 2000 });
                        } else {
                            toastr.success(e.data, { timeOut: 2000 });
                            grillaIncidentesHistorial(e.data1);
                            LimpiarABM_Incidentes();
                        }
                    }
                );
            } else {
                toastr.error('Seleccione un Incidente', { timeOut: 2000 });
            }
        } else {
            toastr.error(valid.mensaje, { timeOut: 2000 });
        }
    }

    function grilla(datos) {
        if ($('#id_Proyecto').val() > 0) {
            $('#titulosGrilla').html('<b>Proyecto:</b> ' +  datos[0].proyectoNombre + ' / ' + ' <b>Fecha Parte Diario:</b> ' + datos[0].fecha_Creacion);
            $("#conten_ParteD_ActividadesEditGrilla").html("<div id='grillaParteDiario'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "parteDiario_ActividadesId", title: "id", media: "(min-width: 450px)",hidden: true });
            colGrilla.push({ field: "sUbiucacion", title: "Ubicación", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sRubro", title: "Rubro", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sActividades", title: "Actividades", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sComentario", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ title: "Estado", media: "(min-width: 450px)", template: " # {# <b>Avance Acum:</b> ${avance} <b>%</b> <br> <b>Avance Ayer/Hoy:</b> ${cantidadAyer}<b>/</b> ${cantidadHoy} <br> <b>Cant Acum:</b> ${cantidadAcum}   #} #" });
            colGrilla.push({ title: "Fechas", media: "(min-width: 450px)", template: "# {# <b>Est Inicio:</b> ${fechaIncio} <br> <b>Est Fin:</b> ${fechaFin}<br> <b>Real Inicio:</b> ${fechaRealInicio}#} #"  });
            $("#grillaParteDiario").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiario.xlsx",

                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: datos
                    },
                detailInit: ParteDiarioContratistas,
                columns: colGrilla,
                 dataBound: function () {
                    dataView = this.dataSource.view();
                     for (var i = 0; i < dataView.length; i++) {
                         if (dataView[i].colorFondo == "R")
                         {
                             var uid = dataView[i].uid;
                             $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_R");
                         }
                         if (dataView[i].colorFondo == "A") {
                             var uid = dataView[i].uid;
                             $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_A");
                         }
                         if (dataView[i].colorFondo == "V") {
                             var uid = dataView[i].uid;
                             $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_V");
                         }
                    }

                }
            });
        }
        else {
            $("#conten_ParteD_ActividadesGrilla").html("<div id='grillaParteDiario'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "parteDiario_ActividadesId", title: "id", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sUbiucacion", title: "Ubicación", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sRubro", title: "Rubro", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sActividades", title: "Actividades", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sComentario", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ title: "Estado", media: "(min-width: 450px)", template: " # {# <b>Avance Acum:</b> ${avance} <b>%</b> <br> <b>Avance Ayer/Hoy:</b> ${cantidadAyer}<b>/</b> ${cantidadHoy} <br> <b>Cant Acum:</b> ${cantidadAcum}   #} #" });
            colGrilla.push({ title: "Fechas", media: "(min-width: 450px)", template: " # {# <b>Est Inicio:</b> ${fechaIncio} <br> <b>Est Fin:</b> ${fechaFin}<br> <b>Real Inicio:</b> ${fechaRealInicio}#} #" });
            colGrilla.push({ command: { name: "kedit1", text: "Avance", click: getAvance }, title: "", width: "75px", attributes: { style: "text-align:center;" } });
            colGrilla.push({ command: { name: "kedit2", text: "Finalizar", click: getFinalizar }, title: "", width: "75px", attributes: { style: "text-align:center;" } });
            $("#grillaParteDiario").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiario.xlsx",

                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: datos
                },
                detailInit: ParteDiarioContratistas,
                columns: colGrilla,
                dataBound: function (e) {
                    dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {

                        if (dataView[i].colorFondo == "R") {
                            var uid = dataView[i].uid;
                            $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_R");
                        }
                        if (dataView[i].colorFondo == "A") {
                            var uid = dataView[i].uid;
                            $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_A");
                        }
                        if (dataView[i].colorFondo == "V") {
                            var uid = dataView[i].uid;
                            $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").addClass("K-bacgraundRow_V");
                        }
                        if (dataView[i].colorBoton == "V") {
                            var uid = dataView[i].uid;
                            $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").find(".k-grid-kedit1").addClass("K-bacgraundRow_V");
                        }
                        if (dataView[i].colorBoton == "B") {
                            var uid = dataView[i].uid;
                            $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").find(".k-grid-kedit1").addClass("K-bacgraundRow_B");
                        }
                        if (dataView[i].finalizado) {
                            console.log("..");
                            var uid = dataView[i].uid;
                            $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").find(".k-grid-kedit2").parent().html("");
                        }
                    }
                }

            });
        }
    }

    function ParteDiarioContratistas(e) {
        ParteDiarioContratistasSubGrilla(e, e.data.actividades_Contratista);
    }

    function ParteDiarioContratistasSubGrilla(e, datos) {
        $("<div/>").appendTo(e.detailCell).kendoGrid({
            dataSource: {
                data: datos
            },
            scrollable: false,
            sortable: true,
            columns: [
                { field: "id", title: "Id", width: "90px", media: "(min-width: 850px)" },
                { field: "tipoRegistro", title: "Tipo Reg.", width: "90px", media: "(min-width: 850px)" },
                { field: "fecha", title: "Fecha", template: "#= kendo.toString(kendo.parseDate(fecha), 'dd/MM/yyyy') #", width: "110px" },
                { field: "sContratistas", title: "Contratista", width: "90px", media: "(min-width: 850px)" },
                { field: "cantidad", title: "Cantidad", width: "90px", media: "(min-width: 850px)" },
                { command: { text: "Archivos", click: verArchivosPAContratstas }, title: "Archivos", width: "75px", attributes: { style: "text-align:center;" } },
                { command: { name: "btn-borrar", text: "Borrar", click: GetBorrarPDContra }, title: "", width: "75px", attributes: { style: "text-align:center;" } }
            ],
            dataBound: function () {
                dataView = this.dataSource.view();
                for (var i = 0; i < dataView.length; i++) {
                    if (!dataView[i].permitoBorar) {
                        var uid = dataView[i].uid;
                        $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").find(".k-grid-btn-borrar").hide();
                    }
                    if (!dataView[i].isArchivoContratistas) {
                        var uid = dataView[i].uid;
                        $("#grillaParteDiario tbody").find("tr[data-uid=" + uid + "]").find(".k-grid-ArchivosC").hide();
                    }

                }
            }
        });
    }

    function grillaAsitencia(data) {
        if ($('#id_Proyecto').val() > 0) {
            $('#tituloAsistencia').html('<b>Asistencia</b> ');
            $("#Conte_grillaAsitencias").html("<div id='grillaPartediarioAsitencia'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "id", title: "Id", media: "(min-width: 450px)",hidden: true});
            colGrilla.push({ field: "sContratista", title: "Contratistas", media: "(min-width: 450px)"});
            colGrilla.push({ field: "asig_Propios", title: "Asignacion", media: "(min-width: 450px)" });
            colGrilla.push({ field: "asig_Propios_Presentes", title: "Presentes", media: "(min-width: 450px)" });
            colGrilla.push({ field: "covid_Propioa", title: "Covid", media: "(min-width: 450px)" });
            colGrilla.push({ field: "asig_Comentario", title: "Comentario", media: "(min-width: 450px)" });
            $("#grillaPartediarioAsitencia").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiarioAsistencia.xlsx",

                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: data
                },
                columns: colGrilla,
            }
            );
        } else {
            $("#Conte_grillaAsitencia").html("<div id='grillaPartediarioAsitencia'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "id", title: "Id", media: "(min-width: 450px)",hidden: true});
            colGrilla.push({ field: "sContratista", title: "Contratistas", media: "(min-width: 450px)"});
            colGrilla.push({ field: "asig_Propios", title: "Asignacion", media: "(min-width: 450px)" });
            colGrilla.push({ field: "asig_Propios_Presentes", title: "Presentes", media: "(min-width: 450px)" });
            colGrilla.push({ field: "covid_Propioa", title: "Covid", media: "(min-width: 450px)"});
            colGrilla.push({ field: "asig_Comentario", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ command: { name: "Borrar", text: "Borrar", click: GetBorrarPDAsis }, title: "", width: "75px", attributes: { style: "text-align:center;" } });
            $("#grillaPartediarioAsitencia").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiarioAsistencia.xlsx",

                    allPages: true,
                    filterable: true
                },
                      dataSource: {
                          data: data
                      },
                       columns: colGrilla,
            });
        }
    }

    //FUNCIÓN QUE CONFIGURA LA GRILLA DE NOVEDADES
    function grillaIncidentes(data) {
        if ($('#id_Proyecto').val() > 0) {
            $('#tituloInciditendes').html('<b>Incidentes</b> ');
            $("#Conte_grillaIncidente").html("<div id='grillaIncidentes'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "id", title: "Id", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sIncidente", title: "Incidente", media: "(min-width: 450px)" });
            colGrilla.push({ field: "comentario", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ field: "solicitadoPor", title: "Solicitado Por", media: "(min-width: 450px)" });
            //colGrilla.push({ command: { text: "Archivos", click: verArchivosPA }, title: "Archivos", width: "165px", attributes: { style: "text-align:center;" } });
            $("#grillaIncidentes").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiarioIncidentes.xlsx",

                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: data
                },
                columns: colGrilla,
            });
        }
        else {
            $("#divGrillaNovedades").html("<div id='grillaIncidentes'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "id", title: "Id", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sIncidente", title: "Incidente", media: "(min-width: 450px)" });
            colGrilla.push({ field: "comentario", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ field: "solicitadoPor", title: "Solicitado Por", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sContratista", title: "Contratista", media: "(min-width: 450px)" });
            colGrilla.push({ field: "criticidad", title: "Cricticidad", media: "(min-width: 450px)" });
            colGrilla.push({ command: { text: "Archivos", click: verArchivos_Novedades }, title: "ArchivosInc", width: "165px", attributes: { style: "text-align:center;" } });
            colGrilla.push({ command: { name: "btn-borrarIncidente", text: "Borrar", click: GetBorrarPDincidente }, title: "", width: "75px", attributes: { style: "text-align:center;" } });
            $("#grillaIncidentes").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiarioIncidentes.xlsx",

                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: data
                },
                columns: colGrilla,
                dataBound: function () {
                    dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        if (dataView[i].isArchivosIncidentes) {
                            var uid = dataView[i].uid;
                            $("#grillaIncidentes tbody").find("tr[data-uid=" + uid + "]").find(".k-grid-ArchivosInc").hide();
                        }

                    }
                }
            });
        }
    }

    //FUNCIÓN QUE CONFIGURA LA GRILLA DE INCIDENTES
    function grillaIncidentesHistorial(data) {
        if ($('#id_Proyecto').val() > 0) {
            $('#tituloInciditendes').html('<b>Incidentes</b> ');
            $("#Conte_grillaIncidenteHistorial").html("<div id='grillaIncidentesHistorial'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "id", title: "Id", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sIncidente", title: "Incidente", media: "(min-width: 450px)" });
            colGrilla.push({ field: "comentario", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sUsuarioDueño", title: "Solicitado Por", media: "(min-width: 450px)" });
            //colGrilla.push({ command: { text: "Archivos", click: verArchivosPA }, title: "Archivos", width: "165px", attributes: { style: "text-align:center;" } });
            $("#grillaIncidentesHistorial").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiarioIncidentes.xlsx",
                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: data
                },
                columns: colGrilla,
            });
        } else {
            $("#Conte_grillaIncidenteHistorial").html("<div id='grillaIncidentesHistorial'></div>");
            var colGrilla = [];
            colGrilla.push({ field: "id", title: "Id", media: "(min-width: 450px)", hidden: true });
            colGrilla.push({ field: "sIncidente", title: "Incidente", media: "(min-width: 450px)" });
            colGrilla.push({ field: "creacion_Descripcion", title: "Comentario", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sUsuarioDueño", title: "Solicitado Por", media: "(min-width: 450px)" });
            colGrilla.push({ field: "sContratista", title: "Contratista", media: "(min-width: 450px)" });
            //colGrilla.push({ field: "fecha_Cierre", title: "F. Cierre", template: "#= kendo.toString(kendo.parseDate(fecha_Cierre), 'dd/MM/yyyy') #", width: "90px" });
            colGrilla.push({ command: { text: "Archivos", click: verArchivos_Incidentes }, title: "ArchivosInh", width: "165px", attributes: { style: "text-align:center;" } });
            $("#grillaIncidentesHistorial").kendoGrid({
                filterable: true,
                sortable: true,
                groupable: true,
                reorderable: true,
                columnMenu: true,
                toolbar: ["excel"],
                excel: {
                    fileName: "ParteDiarioIncidenteshistorial.xlsx",
                    allPages: true,
                    filterable: true
                },
                dataSource: {
                    data: data
                },
                columns: colGrilla,
                dataBound: function () {
                    dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        if (dataView[i].isArchivosIncidentes) {
                            var uid = dataView[i].uid;
                            $("#grillaIncidentesHistorial tbody").find("tr[data-uid=" + uid + "]").find(".k-grid-ArchivosInh").hide();
                        }
                    }
                }
            });
        }
    }

    function verArchivos_Incidentes(e) {
        var oIncidente = this.dataItem($(e.currentTarget).closest("tr"));
        var id = oIncidente.id;
        $('#tituloMdlArchivos').html("Archivos Incidentes");
        $.get("@Url.Action("_GetArchivos_IncidenteHistorial", "ParteDiario")/" + id,
            function (data) { $('.divBodyMdlArchivos').html(data); });
        $('#divMdlArchivos').modal('show');
    }

    function verArchivos_Novedades(e) {
        var oNovedad = this.dataItem($(e.currentTarget).closest("tr"));
        var id = oNovedad.id;
        $('#tituloMdlArchivos').html("Archivos Novedades");
        $.get("@Url.Action("_GetArchivos_ParteDiarioIncidente", "ParteDiario")/" + id,
            function (data) { $('.divBodyMdlArchivos').html(data); });
        $('#divMdlArchivos').modal('show');
    }

    function verArchivosPAContratstas(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        $('#ModalTituloPAC').html("Archivos Contratistas");
        $.get("@Url.Action("_ParteDiarioArchivosContratistas", "ParteDiario")/" + id,
            function (data) { $('.modal-bodyPAC').html(data); })
        $('#ParteDiarioArchivosContratistasModal').modal('show');
    }

    function getAvance(e) {
        var d = this.dataItem($(e.currentTarget).closest("tr"));
        $('#ParteDiario_ActividadesId').val(),
            $('#ModalTitulo').html(" Agregar Avance");
        $.get("@Url.Action("ParteDiario_Contratista_Abm","ParteDiario")/" + d.parteDiario_ActividadesId,
            function (data) {
                $('.modal-body').html(data);
                $('#ParteDiario_ActividadesId').val(d.parteDiario_ActividadesId);
                $('#AvanceAUX').val(d.avance);
                $('#sRubro').html(d.sRubro);
                $('#sActividad').html(d.sActividades);
                $('#sUbicacion').html(d.sUbiucacion);
                $('#cantidadPPA').html(d.cantidadPPA);
                $('#sUnidad').html(d.sUnidad);
                $('#cantidadAcum').html(d.cantidadAcum);
                $('#Avance').html(d.avance);
                $('#fechaFin').html(d.fechaFin);
                $('#fechaIncio').html(d.fechaIncio);
                $('#fecha_Creacion').html(d.fechaRealInicio);
                $('#sDetalle').html(d.sDetalle);
                $('#diasDiferencia').html(d.diasDiferencia);
                $('#diasDiferenciaActual').html(d.diasDiferenciaActual);
                if (d.diasDiferenciaActual <= 0) {
                    $('#alert_Vencido').show();
                    $('#alert_alDia').hide();
                } else {
                    $('#alert_Vencido').hide();
                    $('#alert_alDia').show();
                }
                 if (d.finalizado) {
                    $('#btn_graba').hide();
                  } else {
                    $('#btn_graba').show();
                }
                if ( parseFloat(d.avance) == 0) {
                    $('#Conten-Calidad').show();
                } else {
                    $('#Conten-Calidad').hide();
                }
            })
        $('#ParteDiario_ContratistasModal').modal('show');
    }

    function getFinalizar(e) {
        var d = this.dataItem($(e.currentTarget).closest("tr"));
        $('#ParteDiario_ActividadesId').val(),
            $('#ModalTitulo_Finaliza').html("Finalizar Actividad");
        $.get("@Url.Action("ParteDiario_Finaliza_Actividad","ParteDiario")/" + d.parteDiario_ActividadesId,
            function (data) {
                $('.modal-body-Finaliza').html(data);
                $('#ParteDiario_ActividadesId_Finaliza').val(d.parteDiario_ActividadesId);
                $('#sRubro_Finaliza').html(d.sRubro);
                $('#sActividad_Finaliza').html(d.sActividades);
                $('#sUbicacion_Finaliza').html(d.sUbiucacion);
                $('#sAvance_Finaliza').html(d.avance);
                $('#fechaFin_Finaliza').html(d.fechaFin);
                $('#fechaIncio_Finaliza').html(d.fechaIncio);
                $('#fecha_Creacion_Finaliza').html(d.fechaRealInicio);
                $('#sDetalle_Finaliza').html(d.sDetalle);
            })

        $('#ParteDiario_Finalizar_ActividadModal').modal('show');
    }

    function Volver() {
        window.location.replace("/ParteDiario/ParteDiario");

    }

    function GetBorrarPDContra(e) {
         var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
         var id = dataItem.id;
           $.post("/ParteDiario/ContratistaBorra/" + id).done(function (e) {

                    if (!e.isError) {
                        toastr.success(e.data, { timeOut: 2000 });
                        ValidaParteDiario();

                    } else {
                        toastr.error(e.data, { timeOut: 2000 });
                    }

                });
    }

    function GetBorrarPDincidente(e) {
         var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
         var id = dataItem.id;
           $.post("/ParteDiario/IncidentesBorra/" + id).done(function (e) {

                    if (!e.isError) {
                        toastr.success(e.data, { timeOut: 2000 });
                        ValidaParteDiario();

                    } else {
                        toastr.error(e.data, { timeOut: 2000 });
                    }

                });
    }

    function GetBorrarPDincidente(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        //console('incidnetesHistorialBorra',dataItem);
        var id = dataItem.id;
        $.post("/ParteDiario/IncidentesHistorialBorra/" + id).done(function (e) {

            if (!e.isError) {
                toastr.success(e.data, { timeOut: 2000 });
                ValidaParteDiario();

            } else {
                toastr.error(e.data, { timeOut: 2000 });
            }

        });
    }

    function cargaIncidente() {

        $.get("@Url.Action("GetIncidente", "ParteDiario")",
            function (data) {

                if (!data.isError) {
                    var d = '<select id="Incidente" class="form-control">';
                    d = d + '<option value="0">Seleccione un Incidente</option>';

                    var d2 = '<select id="Incidente2" class="form-control">';
                    d2 = d2 + '<option value="0">Seleccione un Incidente</option>';


                    for (var i = 0; i < data.data.length; i++) {
                        if (data.data[i].rectype == "Novedad") {
                            d = d + '<option value="' + data.data[i].id + '">' + data.data[i].nombre + '</option>';
                        }
                        if (data.data[i].rectype == "Incidente/Accidente") {
                            d2 = d2 + '<option value="' + data.data[i].id + '">' + data.data[i].nombre + '</option>';
                        }
                    }
                    d = d + '</select>';
                    d2 = d2 + '</select>';

                    $('#Conten_Incidentes').html(d);
                    $('#Conten_Incidentes2').html(d2);
                }

            }
        );
    }

    function cargaUbicaciones() {

        $.get("@Url.Action("GetUbicaciones", "ParteDiario")",
            function (data) {

                if (!data.isError) {
                    var d = '<select id="ubicaciones" class="form-control">';
                    d = d + '<option value="0">Seleccione una Ubicación</option>';
                    for (var i = 0; i < data.data.length; i++) {
                        d = d + '<option value="' + data.data[i].id + '">' + data.data[i].nombre + '</option>';
                    }
                    d = d + '</select>';

                    $('#Conten_Ubicaciones').html(d);
                }

            }
        );
    }

    function cargaContratistas() {
          var id = $('#NParteDiario').val();
        $.get("@Url.Action("GetContratistas", "ParteDiario")/" + id,
            function (data) {

                if (!data.isError) {
                    var d = '<select id="Contratista" class="form-control">';
                    d = d + '<option value="0">Seleccione un Contratista</option>';

                    var d2 = '<select id="Contratista2" class="form-control">';
                    d2 = d2 + '<option value="0">Seleccione un Contratista</option>';

                    var d3 = '<select id="Contratista3" class="form-control">';
                    d3 = d3 + '<option value="0">Seleccione un Contratista</option>';

                    for (var i = 0; i < data.data.length; i++) {
                        d = d + '<option value="' + data.data[i].contratistaId + '">' + data.data[i].sContratistas + '</option>';
                        d2 = d2 + '<option value="' + data.data[i].contratistaId + '">' + data.data[i].sContratistas + '</option>';
                        d3 = d3 + '<option value="' + data.data[i].contratistaId + '">' + data.data[i].sContratistas + '</option>';
                    }
                    d = d + '</select>';
                    d2 = d2 + '</select>';
                    d3 = d3 + '</select>';

                    $('#Conten_Contratistas').html(d);
                    $('#Conten_Contratistas2').html(d2);
                    $('#Conten_Contratistas3').html(d3);
                }

            }
          );
    }

    function GetBorrarPDAsis(e) {
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        var id = dataItem.id;
        $.post("/ParteDiario/AsistenciaBorra/" + id).done(function (e) {

                if (!e.isError) {
                    toastr.success(e.data, { timeOut: 2000 });
                        GetDatosGrillaAsistencia();

                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }

            });
    }

    function cargaGrilla() {

        var model = {
            ubicacion: $('#ubicaciones').val()
        }
        $.post("/ParteDiario/ParteDiarioUbicacionFiltro", model).done(function (e) {

            if (!e.isError) {
                ValidaParteDiario();
            }
        });

    }

    function cargaAreasParaAsignar() {

        $.get("@Url.Action("GetAreasEmpresa", "ParteDiario")",
            function (data) {

                if (!data.isError) {
                    var d = '<select id="AreaParaAsignar" class="form-control">';
                    d = d + '<option value="0">Seleccione un area</option>';
                    for (var i = 0; i < data.data.length; i++) {
                        d = d + '<option value="' + data.data[i].id + '">' + data.data[i].detalle + '</option>';
                    }
                    d = d + '</select>';

                    $('#Conten_AsignacionArea').html(d);
                }

            }
        );
    }

    function CancelarAsistencia() {
        $('#Contratista').val('');
        $('#A_Asig_Propios').val('');
        $('#A_Asig_Propios_Presentes').val('');
        $('#A_Covid_Propioa').val('');
        $('#Asig_Comentario').val('');
    }

    function LimpiarABM_Novedades() {
        $('#Incidente').val('');
        $('#f_SolicitadoPor').val('');
        $('#f_SolicitadoPorId').val('');
        $('#txtaComentarioNov').val('');
        $('#Contratista2').val('');
        $('#Criticidad').val('');
        lArchivosAdjuntos = [];
        $('#divGrillaAAAbmNovedades').html('');
    }

    function LimpiarABM_Incidentes() {
        $('#Incidente2').val('');
        $('#txtaComentarioInc').val('');
        $('#I_SolicitadoPor').val('');
        $('#Contratista3').val('');
        $('#dtpFechaCierre').val('');
        $('#AreaParaAsignar').val('');
        lArchivosAdjuntos = [];
        $('#divGrillaAAAbmIncidentes').html('');
    }

    function CheckIncidentes() {
        $("#Incidentes").show();
        $("#Novedades").hide();
        document.getElementById("I_SolicitadoPor").disabled = true;
        $("#Conte_grillaIncidenteHistorial").show();
    }

    function CheckNovedades() {
        $("#Incidentes").hide();
        $("#Novedades").show();
        document.getElementById("I_SolicitadoPor").disabled = true;
    }

    function cargaActividades_PDABM(data) {
        var d = '<select id="ddlActividades_PDABM" class="form-control" onchange="Filtrar_PDABM();" style="font-size:12px">';
        d = d + '<option value="0">Seleccione una Actividad</option>';
        for (var i = 0; i < data.length; i++) {
            d = d + '<option value="' + data[i] + '">' + data[i] + '</option>';
        }
        d = d + '</select>';

        $('#Conten_FiltroActividad_PDABM').html(d);
    }

    function cargaUbicaciones_PDABM(data) {
        var d = '<select id="ddlUbicaciones_PDABM" class="form-control" onchange="Filtrar_PDABM();" style="font-size:12px">';
        d = d + '<option value="0">Seleccione un Ubicacion</option>';
        for (var i = 0; i < data.length; i++) {
            d = d + '<option value="' + data[i] + '">' + data[i] + '</option>';
        }
        d = d + '</select>';
        $('#Conten_FiltrUbicaciones_PDABM').html(d);
    }

    function cargaAvance_PDABM() {
        var d = '<select id="ddlAvance_PDABM" class="form-control" onchange="Filtrar_PDABM()" style="font-size:12px">';
        d = d + '<option value="0">% Avance</option>';
        d = d + '<option value="CA">Con Avance</option>';
        d = d + '<option value="SA">Sin Avance (0%)</option>';
        d = d + '<option value="80">80%-100%</option>';
        d = d + '<option value="100">100% o mas</option>';
        d = d + '</select>';
        $('#Conten_FiltroAvance_PDABM').html(d);
    }

    function cargaAvanceDia_PDABM() {
        var d = '<select id="ddlAvanceDia_PDABM" class="form-control" onchange="Filtrar_PDABM()" style="font-size:12px">';
        d = d + '<option value="0">Todos</option>';
        d = d + '<option value="CA">Con Avance</option>';
        d = d + '<option value="SA">Sin Avance (0%)</option>';
        d = d + '</select>';
        $('#Conten_FiltroAvanceDia_PDABM').html(d);
    }

    function cargaAvanceAyer_PDABM() {
        var d = '<select id="ddlAvanceAyer_PDABM" class="form-control" onchange="Filtrar_PDABM()" style="font-size:12px">';
        d = d + '<option value="0">Todos</option>';
        d = d + '<option value="CA">Con Avance</option>';
        d = d + '<option value="SA">Sin Avance (0%)</option>';
        d = d + '</select>';
        $('#Conten_FiltroAvanceAyer_PDABM').html(d);
    }

    function cargarSlcFiltroEstados_PDABM(lEstados) {
        var content = '<select id="slcFiltroEstados" class="form-control" onchange="Filtrar_PDABM()" style="font-size:12px">';
        content += '<option value="Todas">Todas</option>';
        lEstados.forEach(est => {
            content += '<option value="' + est + '">' + est + '</option>';
        });
        content += '</select>';
        $('#divSlcFiltroEstados').html(content);
    }

    function Filtrar_PDABM() {
        //console.log("selectedValueUbicaciones_PDABM", ddlUbicaciones_PDABM.options[ddlUbicaciones_PDABM.selectedIndex].value);
        var selectedValueUbicaciones_PDABM = ddlUbicaciones_PDABM.options[ddlUbicaciones_PDABM.selectedIndex].value;
        var selectedValueActividades_PDABM = ddlActividades_PDABM.options[ddlActividades_PDABM.selectedIndex].value;
        var selectedValueAvance_PDABM = ddlAvance_PDABM.options[ddlAvance_PDABM.selectedIndex].value;
        var selectedValueAvanceDia_PDABM = ddlAvanceDia_PDABM.options[ddlAvanceDia_PDABM.selectedIndex].value;
        var selectedValueAvanceAyer_PDABM = ddlAvanceAyer_PDABM.options[ddlAvanceAyer_PDABM.selectedIndex].value;
        var estadoElegido = document.getElementById('slcFiltroEstados').value;

        var newData = lstActividadesParteDiario;
        if (selectedValueUbicaciones_PDABM != "0") {
            newData = newData.filter(s => s.sUbiucacion == selectedValueUbicaciones_PDABM);
        }
        if (selectedValueActividades_PDABM != "0") {
            newData = newData.filter(s => s.sActividades == selectedValueActividades_PDABM);
        }
        if (selectedValueAvance_PDABM != "0") {
            if (selectedValueAvance_PDABM == "CA") {
                newData = newData.filter(p => p.avance >= 0);
            }
            if (selectedValueAvance_PDABM == "SA") {
                newData = newData.filter(p => p.avance == 0);
            }
            if (selectedValueAvance_PDABM == "80") {
                newData = newData.filter(p => p.avance >= 80 && p.avance < 100);
            }
            if (selectedValueAvance_PDABM == "100") {
                newData = newData.filter(p => p.avance >= 100);
            }
        }
        //console.log("newData", newData);
        if (selectedValueAvanceDia_PDABM != "0") {
            if (selectedValueAvanceDia_PDABM == "CA") {
                newData = newData.filter(p => p.cantidadHoy != "0");
            }
            if (selectedValueAvanceDia_PDABM == "SA") {
                newData = newData.filter(p => p.cantidadHoy == "0");
            }
        }
        if (selectedValueAvanceAyer_PDABM != "0") {
            if (selectedValueAvanceAyer_PDABM == "CA") {
                newData = newData.filter(p => p.cantidadAyer != "0");
            }
            if (selectedValueAvanceAyer_PDABM == "SA") {
                newData = newData.filter(p => p.cantidadAyer == "0");
            }
        }
        if (estadoElegido != 'Todas') {
            newData = newData.filter(p => {
                return p.estadoAlternativo.includes(estadoElegido);
            });
        }

        var estadoParteDiarioActividades_Filtro = { Ubicacion: selectedValueUbicaciones_PDABM, Actividad: selectedValueActividades_PDABM, AvanceDia: selectedValueAvanceDia_PDABM, AvanceAyer: selectedValueAvanceAyer_PDABM, Avance: selectedValueAvance_PDABM };
        localStorage.setItem('ValoresFiltroParteDiario', JSON.stringify(estadoParteDiarioActividades_Filtro));
        grilla(newData);
    }

    //#endregion

</script>

