@model Gestion.Web.Models.Planificacion_Actividades_Calidad_ItemsItem

<div class="row">
    <div class="col-md-6 ">
        Actividad : <b><span id="nombres"></span></b> <br />
    </div>
    <div class="col-md-6 ">
        Rubro: <b><span id="rubro"></span></b> <br />
    </div>
</div>


<hr />


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Documentacion_Obra" class="control-label"></label>
            <input asp-for="Documentacion_Obra" type="text" class="form-control">
            <span asp-validation-for="Documentacion_Obra" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Tolerancia" class="control-label"></label>
            <input asp-for="Tolerancia" type="text" class="form-control">
            <span asp-validation-for="Tolerancia" class="text-danger"></span>
        </div>
    </div>
    
</div>

<div class="row">

    <div class="col-md-6">
        @{
            List<ItemSelectList> listItemsR = new List<ItemSelectList> {
                    new ItemSelectList { Value = "Capataz", Text = "Capataz" },
                    new ItemSelectList { Value = "Asesor de H y S", Text = "Asesor de H y S" },
                    new ItemSelectList { Value = "Asesor", Text = "Asesor" },
                    new ItemSelectList { Value = "Cada Área ", Text = "Cada Área " },
                    new ItemSelectList { Value = "Comitente ", Text = "Comitente " },
                    new ItemSelectList { Value = "Contratista / Sub Ctta ", Text = "Contratista / Sub Ctta " },
                    new ItemSelectList { Value = "Jefe de Obra", Text = "Jefe de Obra" },
                    new ItemSelectList { Value = "Laboratorista ", Text = "Laboratorista " },
                    new ItemSelectList { Value = "Pañolero ", Text = "Pañolero " },
                    new ItemSelectList { Value = "Segun Necesidad ", Text = "Segun Necesidad" },
                    new ItemSelectList { Value = "SubContratista ", Text = "SubContratista " },
                    new ItemSelectList { Value = "Técnica", Text = "Técnica" },
                    new ItemSelectList { Value = "Técnica y Asesor ", Text = "Técnica y Asesor " },
                    new ItemSelectList { Value = "Topógrafo", Text = "Topógrafo" },
                    new ItemSelectList { Value = "N/A", Text = "N/A" },
                    };
        }
        <label asp-for="Realiza_Accion" class="control-label">Realiza Accion</label>
        @Html.DropDownListFor(model =>
            model.Realiza_Accion,
            new SelectList(listItemsR, "Value", "Text")
            , new { @class = "form-control" }
        )
    </div>
    <div class="col-md-6">
        @{
            List<ItemSelectList> listItemsC = new List<ItemSelectList> {
                    new ItemSelectList { Value = "Jefe de Obra ", Text = "Jefe de Obra" },
                    new ItemSelectList { Value = "Coordinador de Obra", Text = "Coordinador de Obra" },
                    new ItemSelectList { Value = "Capataz", Text = "Capataz" },
                    new ItemSelectList { Value = "N/A ", Text = "N/A " },
                    };
        }
        <label asp-for="Controla" class="control-label">Controla</label>
        @Html.DropDownListFor(model =>
            model.Controla,
            new SelectList(listItemsC, "Value", "Text")
            , new { @class = "form-control" }
        )
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @{
            List<ItemSelectList> listItemsE = new List<ItemSelectList> {
                    new ItemSelectList { Value = "Antes de Iniciar", Text = "Antes de Iniciar" },
                    new ItemSelectList { Value = "Al Iniciar", Text = "Al Iniciar" },
                    new ItemSelectList { Value = "Aleatoriamente ", Text = "Aleatoriamente" },
                    new ItemSelectList { Value = "Antes de Finalizar", Text = "Antes de Finalizar" },
                    new ItemSelectList { Value = "Al Finalizar", Text = "Al Finalizar" },
                    new ItemSelectList { Value = "N/A", Text = "N/A" },
                    };
        }
        <label asp-for="Se_Efectua" class="control-label">Se Efectua</label>
        @Html.DropDownListFor(model =>
            model.Se_Efectua,
            new SelectList(listItemsE, "Value", "Text")
            , new { @class = "form-control" }
        )
    </div>

    <div class="col-md-6">
        @{
            List<ItemSelectList> listItemsPerioricidad = new List<ItemSelectList> {
                    new ItemSelectList { Value = "0", Text = "Sin Perioricidad" },
                    new ItemSelectList { Value = "20", Text = "Cada 20% Avance" },
                    new ItemSelectList { Value = "25", Text = "Cada 25% Avance" },
                    new ItemSelectList { Value = "50", Text = "Al 50% Avance" },
                    new ItemSelectList { Value = "80", Text = "Al 80% Avance" },
                    };
        }
        <label asp-for="Perioricidad" class="control-label">Perioricidad</label>
        @Html.DropDownListFor(model =>
            model.Perioricidad,
            new SelectList(listItemsPerioricidad, "Value", "Text")
            , new { @class = "form-control" }
        )
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        @{
            List<ItemSelectList> listItemsCC = new List<ItemSelectList> {
                    new ItemSelectList { Value = "Revision Visual ", Text = "Revision Visual" },
                    new ItemSelectList { Value = "Tomar Medidas ", Text = "Tomar Medidas" },
                    new ItemSelectList { Value = "Tomar Nivel", Text = "Tomar Nivel" },
                    new ItemSelectList { Value = "Prueba Hidraúlica", Text = "Prueba Hidraúlica" },
                    new ItemSelectList { Value = "Contar Cantidades", Text = "Contar Cantidades" },
                    new ItemSelectList { Value = "Ejecución Probetas", Text = "Ejecución Probetas" },
                    new ItemSelectList { Value = "Ensayos de densidad", Text = "Ensayos de densidad" },
                    new ItemSelectList { Value = "N/A", Text = "N/A" },
                    };
        }
        <label asp-for="Como_Controlar" class="control-label">Como Controlar</label>
        @Html.DropDownListFor(model =>
            model.Como_Controlar,
            new SelectList(listItemsCC, "Value", "Text")
            , new { @class = "form-control" }
        )
    </div>
    <div class="col-md-6">
        @{
            List<ItemSelectList> listItemsCE = new List<ItemSelectList> {
                    new ItemSelectList { Value = "Estacion Total ", Text = "Estacion Total" },
                    new ItemSelectList { Value = "Cinta Metrica ", Text = "Cinta Metrica" },
                    new ItemSelectList { Value = "Nivel Optico", Text = "Nivel Optico" },
                    new ItemSelectList { Value = "Escuadra", Text = "Escuadra" },
                    new ItemSelectList { Value = "Balanza", Text = "Balanza" },
                    new ItemSelectList { Value = "Calibre", Text = "Calibre" },
                    new ItemSelectList { Value = "Manómetro", Text = "Manómetro" },
                    new ItemSelectList { Value = "Micrómetro", Text = "Micrómetro" },
                    new ItemSelectList { Value = "Nivel de Mano", Text = "Nivel de Mano" },
                    new ItemSelectList { Value = "Nivel Laser", Text = "Nivel Laser" },
                    new ItemSelectList { Value = "Plomada", Text = "Plomada" },
                    new ItemSelectList { Value = "Telurímetro", Text = "Telurímetro" },
                    new ItemSelectList { Value = "Torquímetro", Text = "Torquímetro" },
                    new ItemSelectList { Value = "N/A", Text = "N/A" },
                    };
        }
        <label asp-for="Con_Elemento" class="control-label">Con Elemento</label>
        @Html.DropDownListFor(model =>
            model.Con_Elemento,
            new SelectList(listItemsCE, "Value", "Text")
            , new { @class = "form-control" }
        )
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        @{
            List<ItemSelectList> listItemsD = new List<ItemSelectList> {
                    new ItemSelectList { Value = "En Obra", Text = "En Obra" },
                    new ItemSelectList { Value = "Antes de Recibir", Text = "Antes de Recibir" },
                    new ItemSelectList { Value = "Tecnica", Text = "Tecnica" },
                    new ItemSelectList { Value = "N/A", Text = "N/A" },
                    };
        }
        <label asp-for="Donde" class="control-label">Donde</label>
        @Html.DropDownListFor(model =>
            model.Donde,
            new SelectList(listItemsD, "Value", "Text")
            , new { @class = "form-control" }
        )

    </div>
    <div class="col-md-6">
        @{
            List<ItemSelectList> listItemsCP = new List<ItemSelectList> {
                    new ItemSelectList { Value = "Mensura", Text = "Mensura" },
                    new ItemSelectList { Value = "Replanteo", Text = "Replanteo" },
                    new ItemSelectList { Value = "Estrcuturas", Text = "Estrcuturas" },
                    new ItemSelectList { Value = "Escuadra", Text = "Escuadra" },
                    new ItemSelectList { Value = "Arquitectura", Text = "Arquitectura" },
                    new ItemSelectList { Value = "de Instalaciones", Text = "de Instalaciones" },
                    new ItemSelectList { Value = "de Equipamiento", Text = "de Equipamiento" },
                    new ItemSelectList { Value = "de Carpinterías", Text = "de Carpinterías" },
                    new ItemSelectList { Value = "de Obras", Text = "de Obras" },
                    new ItemSelectList { Value = "de Pisos", Text = "de Pisos" },
                    new ItemSelectList { Value = "de Demolición", Text = "de Demolición" },
                    new ItemSelectList { Value = "Datos Calculista", Text = "Datos Calculista" },
                    new ItemSelectList { Value = "N/A", Text = "N/A" },
                    };
        }
        <label asp-for="Con_Plano" class="control-label">Con Plano</label>
        @Html.DropDownListFor(model =>
            model.Con_Plano,
            new SelectList(listItemsCP, "Value", "Text")
            , new { @class = "form-control" }
        )
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Observaciones" class="control-label"></label>
            <div class="col-md-12">@Html.TextAreaFor(model => model.Observaciones, new { @cols = "55", @rows = "7" })</div>
            <span asp-validation-for="Observaciones" class="text-danger">Observaciones Tecnicas o Comentarios</span>
        </div>
    </div>
    <div class="col-md-6" style="margin-top:30px;">
        <div class="form-group">
            <div class="icheck-primary d-inline" style="margin-left:80px;">
                <input type="checkbox" id="Inactivo" @(Model.Inactivo ? "checked=\"checked\"" : "")>
                <label for="Inactivo">@Html.DisplayNameFor(model => model.Inactivo)</label>
            </div>
        </div>
    </div>
</div>


<br />

<div class="row">
    <div id="conten_GrillaCalidad"></div>
</div>



<div style="margin-top:15px;" class="row">
    <div>
        <div class="btn-graba " type="button" onclick="GrabarCalidad()"><i class="fas fa-check"></i>Graba</div>
    </div>
    <div class="col-md-6">
        <div class="btn-cerrar" type="button" data-dismiss="modal"><i class="far fa-times-circle"></i> Cerrar</div>
    </div>
</div>

<input id="id_Registro" type="hidden" value="0" />

<script>

    var data = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    console.log("DATA",data);
    GetDatosGrillaCalidad();


    function GrabarCalidad() {

        var valid = validaDatos('');
        if (!valid.isError) {


            var bInactivo = false;
            if ($('#Inactivo').prop('checked')) {
                bInactivo = true;
            }
            var id = $('#id_Registro').val();
            var model = {
                Id: id,
                Documentacion_Obra: $('#Documentacion_Obra').val(),
                Se_Efectua: $('#Se_Efectua').val(),
                Perioricidad: $('#Perioricidad').val(),
                Tolerancia: $('#Tolerancia').val(),
                Realiza_Accion: $('#Realiza_Accion').val(),
                Controla: $('#Controla').val(),
                Como_Controlar: $('#Como_Controlar').val(),
                Con_Elemento: $('#Con_Elemento').val(),
                Con_Plano: $('#Con_Plano').val(),
                Observaciones: $('#Observaciones').val(),
                Inactivo: bInactivo,
                IdPLanificacionActividades: $('#id_Actividad').val(),
                Donde: $('#Donde').val(),
                

            };
            console.log("MODELO", model);
            $.post("/Planificacion/CalidadGraba", model).done(function (e) {

                if (!e.isError) {
                    toastr.success(e.data, { timeOut: 2000 });
                    $('#Actividades_CalidadModal').modal('hide');

                } else {
                    toastr.error(e.data, { timeOut: 2000 });
                }

            });


        } else {
            toastr.error(valid.mensaje, { timeOut: 2000 });
        }
    }


     function GetDatosGrillaCalidad() {

         var id = $('#id_Actividad').val();
         console.log("ID", id);
         $.get("/Planificacion/CalidadGet/" + id).done(function (e) {

             if (!e.isError) {
                 grillaCalidad(e.data)
             } else {
                 toastr.error(e.data, { timeOut: 2000 });
             }
         });
     }

    function grillaCalidad(data) {
        console.log('datagriilla', data);

        var colGrilla = [];
        colGrilla.push({ field: "documentacion_Obra", title: "Documentacion Obra", media: "(min-width: 450px)" });
        colGrilla.push({ field: "se_Efectua", title: "Se Efectuara", media: "(min-width: 450px)" });
        colGrilla.push({ field: "controla", title: "Controla", media: "(min-width: 450px)" });
        colGrilla.push({ field: "fecha_Ult_Modificacion", title: "Fecha Modificación", template: "#= kendo.toString(kendo.parseDate(fecha_Ult_Modificacion), 'dd/MM/yyyy') #", width: "110px" });
        colGrilla.push({ title: "inactivo", template: '# if (inactivo) {#<img src="../dist/img/checkbox.png" />#} else {#<img src="../dist/img/uncheckbox.png" />#}#', width: "90px", attributes: { style: "text-align:center;" } });
        colGrilla.push({ command: { name: "kedit3", text: "Editar", click: GetEditar }, title: "Editar", width: "65px", attributes: { style: "text-align:center;" } });

        $("#conten_GrillaCalidad").html("<div id='grillaCalidad'></div>");

        $("#grillaCalidad").kendoGrid({
            filterable: true,
            sortable: true,
            filterable: true,
            groupable: true,
            reorderable: true,
            columnMenu: true,
            dataSource: {
                data: data
            },
            columns: colGrilla,
        });
    }





    function GetEditar(e) {
        var d = this.dataItem($(e.currentTarget).closest("tr"));
        console.log('D', d)
        $('#id_Registro').val(d.id);
        $('#Documentacion_Obra').val(d.documentacion_Obra);
        $('#Se_Efectua').val(d.se_Efectua);
        $('#Perioricidad').val(d.perioricidad);
        $('#Tolerancia').val(d.tolerancia);
        $('#Realiza_Accion').val(d.realiza_Accion);
        $('#Controla').val(d.controla);
        $('#Con_Elemento').val(d.con_Elemento);
        $('#Con_Plano').val(d.con_Plano);
        $('#Donde').val(d.donde);
        $('#Observaciones').val(d.observaciones);
        $('#Inactivo').val(d.inactivo);
    }

</script>
